{% load staticfiles %}

<!DOCTYPE html>
<script type="text/javascript">
	
</script>

<style type="text/css">
	
	html{
		height:100%;
		background-color:#320A28;
	}
	
	body{
		margin-left: 10%;
		margin-right: 10%;
		height:100%;
		background-color:#0B1D51;
		border-style: solid;
		border-radius: 25px;
		border-color:#D7F9F1;	
	}
	h2{
		text-align: center;
		color:#EEC643;
	}
	
</style>

<html>
    <head>
        <title>Haley Sanders.</title>
    </head>

    <body>
    {% block content %}{% endblock content %}
    </body>
</html>
