---
---

@import "{{ site.theme }}";
/* Permanent Nav */
.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

body {
	margin:0;
}

ul {
    list-style-type: none;
    margin-left: 30%;
    padding: 0;
    overflow: hidden;
    background-color: #BDD9BF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

footer{
	font-size: 10px;
}

/* End Permanent Nav*/

/* Parallax */
.parallax {
	height:45%;
	background: #0B1D51; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #BDD9BF, #320A28); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #BDD9BF, #320A28); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #BDD9BF, #320A28); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #BDD9BF, #320A28); /* Standard syntax */
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.non-para {
	position:absolute;
}

.nav {
	position:absolute;
}

/* End Parallax */


body,html{
	height:100%;
	background-color:#BDD9BF;
}


h2{
	text-align: center;
	color:#EEC643;
	font-family: 'VT323', monospace;
	font-size: 60px;
}

p{
	font-family: 'Dosis', sans-serif;
	color:#BDD9BF;
	font-size: 20px;
	text-align: center;
}

a {
	text-align: center;
	color:#0B1D51;
	font-family: 'VT323', monospace;
	font-size: 25px;
	display: block;
    width: 150px;
}

a:hover {
	color:#EEC643;
}

b.divider {
	color:#084C61;
	font-size:40px;
}

.portfolio-element {
	background-color:#320A28;
	border-radius: 50px 15px;
	border-style: solid;
	margin-left: 10%;
	margin-right: 20%;
	height: 100%;
	width: 800px;
	text-align: justify;
	word-wrap:normal;
	padding: 50px;
}

#intro-section{
	color:#320A28;
	background-color:#EEC643;
	border-radius: 50px 15px;
	border-style: solid;
	margin-left: 10%;
	margin-right: 20%;
	height: 500px;
	width: 800px;
	padding: 50px;
}

#intro {
	margin-top:10px;
}

.active {
    background-color: #4CAF50;
    color: white;
}