---
---

@import "{{ site.theme }}";

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

section.header{
	background-color:#13293D;
}

footer{
	font-size: 10px;
}

.mdl-layout{
	background-image:url("../../assets/images/portfolio_background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 50px;
}

body,html{
	height:100%;
	background-color:#13293D;
}


.readme.mdl-card{
	background-color: #7AC4A3;
	width:800px;
}

h1.project-name{
	color:white;
	text-align: center;
	margin-top: 100px;
}

.sub-head{
	text-align: center;
}
h2{
	text-align: center;
	color:#6C47BC;
	font-family: 'VT323', monospace;
	font-size: 60px;
}

h2#welcome-to-my-portfolio{
	color: #13293D;
}
p{
	font-family: 'Dosis', sans-serif;
	color:#BDD9BF;
	font-size: 20px;
	text-align: center;
}

span > a{
	color:#0B1D51;
	font-family: 'VT323', monospace;
	font-size: 20px;
    width: 200px;
}
a:hover {
	color:#EEC643;
}

b.divider {
	color:#084C61;
	font-size:40px;
}

.portfolio-element {
	background-color:#320A28;
	border-radius: 50px 15px;
	border-style: solid;
	margin-left: 10%;
	margin-right: 20%;
	height: 100%;
	width: 800px;
	text-align: justify;
	word-wrap:normal;
	padding: 50px;
}

#intro-section{
	color:#320A28;
	background-color:#EEC643;
	border-radius: 50px 15px;
	border-style: solid;
	margin-left: 10%;
	margin-right: 20%;
	height: 500px;
	width: 800px;
	padding: 50px;
}

#intro {
	margin-top:10px;
}

.active {
    background-color: #4CAF50;
    color: white;
}